@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
	--bgColor: rgb(223, 218, 218);
	--bgColorAlpha: rgba(223, 218, 218, 0.3);
	--baseColor: rgb(212, 39, 76);
	--compColor: rgb(149, 30, 55);
	--compColorHover: rgb(84, 16, 30);
}

* {
	box-sizing: border-box;
}

body,
html {
	height: 100vh;
	font-size: 10px;
}

body {
	margin: 0;
	background: url(../images/bg-pattern.png) center top / 800px;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bgColor);
}

.container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--bgColorAlpha);
	padding: 0 5%;
}

h2 {
	margin: 0;
	color: var(--baseColor);
	font-size: 8.4em;
	font-weight: normal;
	text-shadow: 2px 2px 2px #000;
	width: 100%;
}

p {
	width: 100%;
	font-size: 3.5em;
	color: rgb(84, 81, 81);
}

button {
	background-color: var(--compColor);
	border: none;
	color: #fff;
	font-size: 1.8em;
	padding: 1em 2em;
	border-radius: 0.5em;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: var(--compColorHover);
}
